#!/bin/sh

# list of jails
JAILS="ingress01 nginx01 mx-ingress04"

# list of filesets in nginx01 jail used for caching
caching_sets="categories commits daily general news packages pages ports spooling"

# path to mkjail script
# as obtained from https://github.com/mkjail/mkjail
mkjail_path="/usr/home/ec2-user/src/mkjail"

# which zpool do the jails live in
jailzpool=data01

# what FreeBSD version are we grabbing
VERSION=12.2

# the mountpoint for all jails
jailroot=/jails

# which zpool do the freebsd releases live in?
freebsdzpool=zroot

# where do I mount the freebsd releases?
freebsdreleases=/var/db/mkjail
