#!/bin/sh

# if you set it blank, it won't get created
#
INGRESS_JAIL="ingress01"
WEB_JAIL="nginx01"
PG_JAIL="pg01"

# the file name for the certficiate in the jail. Don't include .cer at the end
# usually, this is something close to the hostname
INGRESS_JAIL_CERT="${INGRESS_JAIL}.int.unixathome.org"
WEB_JAIL_CERT="${WEB_JAIL}.int.unixathome.org"
PG_JAIL_CERT="${PG_JAIL}.int.unixathome.org"

# the repo tree to be used by each jail.
# they are not always the same.
DEFAULT_REPO_TREE="130amd64-default-primary"
eval ${INGRESS_JAIL}_REPO_TREE="${DEFAULT_REPO_TREE}"
eval ${WEB_JAIL}_REPO_TREE="${DEFAULT_REPO_TREE}"
eval ${PG_JAIL}_REPO_TREE="${DEFAULT_REPO_TREE}"

# list of jails
#
# If you remove a jail from here, it won't be created
# But other scripts might fail, but fail gracefully
#
JAILS="$INGRESS_JAIL $WEB_JAIL $PG_JAIL"

# list of filesets in WEB_JAIL jail used for caching
# see also https://git.langille.org/FreshPorts/helper_scripts/src/branch/master/website-clear-all-cache.sample
caching_sets="categories commits daily general news packages pages ports spooling"

# which zpool do the jails live in
jailzpool=data01

# which zpool do the jail special filesystems live in (message-queues etc)
datazpool=${jailzpool}

# what FreeBSD version are we grabbing
VERSION=13.0

# the mountpoint for all jails
jailroot=/jails

# which zpool do the freebsd releases live in?
freebsdzpool=zroot

# where do I mount the freebsd releases?
freebsdreleases=/var/db/mkjail
